<nav>
  <div class="site-title">
    <a href="/"><h1>Blog</h1></a>
    <% if(user) { %>
    <li>Welcome, <%= user.email %></li>
    <% } %>
  </div>
  <ul>
    <li><a href="/about">About</a></li>

    <% if(user) { %>
    <li><a href="/">Blogs</a></li>
    <li><a href="/api/v1/blogs/create">New Blog</a></li>
    <li><a href="/api/v1/logout">log out</a></li>
    <% } else{%>

    <li><a href="/api/v1/login">log in</a></li>
    <li><a href="/api/v1/signup" class="btn">Sign up</a></li>
    <% } %>
  </ul>
</nav>
